<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byType"
>
    <!-- @PostContruct要生效，需要加上下面的context:component-scan,可能跟spring版本不同有关系  -->
    <context:component-scan base-package="com.spring.autowired.init">
    </context:component-scan>

    <bean id="indexService" init-method="init" class="com.spring.autowired.init.IndexService"></bean>

    <bean id="detailService" class="com.spring.autowired.init.DetailService"></bean>

</beans>